html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

.head1{
  font-family: Russo One; 
  font-size: 30px;
  padding-bottom: 1%;
}

.head2{
  font-family: 'Roboto';
  font-size: 20px;
}

.root {
  height: 100%;
  background-color: aqua;
}
.App {
  text-align: center;
}

.front {
  height: 100vh;
}
@media (max-width: 768px) {
  .topname{
    font-size: 25px !important;
  }
  .jumbobut{
    font-size: 15px !important;
  }

  .head1{
    font-family: Russo One; 
    font-size: 25px !important;
    padding-bottom: 1%;
  }
  
  .head2{
    font-family: 'Roboto';
    font-size: 15px !important;
  }
}

/***********************    HOVER    ***************************/

.projcard:hover .hover{
  display: block;
}

.projcard:hover .frontc{
  animation: colchg 2s 1 forwards
}

@keyframes colchg {

  0% { color: white; opacity: 100%;}

  100%{
    color: red; opacity: 0%;
  }
}