html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

.head1{
  font-family: Russo One; 
  font-size: 30px;
  padding-bottom: 1%;
}

.head2{
  font-family: 'Roboto';
  font-size: 20px;
}

.root {
  height: 100%;
  background-color: aqua;
}
.App {
  text-align: center;
}

.front {
  height: 100vh;
}

.frontc{
  transition: 0.5s ease;
}

.hov{
  display: 'flex';
  flex-direction: row;
  justify-content: center;
  opacity: 0;
  transition: 0.5s ease;
}

.desctex{
  padding-top: 7%;
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 10%;
  font-size: 20px;
  color: black;
  line-height: 100%;
  min-height: 50%;
  max-height: 50%;
}

/***********************    HOVER    ***************************/


.projcard:hover .frontc{
  opacity: 0;
}

.projcard:hover .hov{
  opacity: 1;
}

/***************** MEDIA QUERYS ***************/
@media (max-width: 768px) {
  .topname{
    font-size: 25px !important;
  }
  .jumbobut{
    font-size: 15px !important;
  }

  .head1{
    font-family: Russo One; 
    font-size: 25px !important;
    padding-bottom: 1%;
  }
  
  .head2{
    font-family: 'Roboto';
    font-size: 15px !important;
  }

}

@media (max-width: 1024px){
  .desctex{
    font-size: 35px;
  }
}